{% extends 'main/header.html' %}
{% load static %}

{% block content %}
    
	<div class="center">
	  <h1 class="w3-margin w3-jumbo">About Me </h1>
	  <img src="{% static 'main/img/profile.jpg' %}" width="200" height="200">
	</div>
	
	<div class="center">
		<hr class="class-2"/>
		<div class="container">
		    <div class="row">
		      <div class="col-lg-12">
		      </div>
		    </div>
		    <div class="row">
			    <div class="col-sm-6">
		    		<p align="center">
		            Hi, my name is Victor Sun and I'm a student at the University of Victoria studying to become a Software Engineer. I've been using python as of recently which I used, along with the django framework, to create this portfolio website. I have some experience in Java and in C. I'm trying to get back into unity to develop games in the future.
		       		</p>
		      </div>
		  </div>
		</div>
	</div>

<section class="whiteSpaceStuff"> 
	<div class="container" style="background: #f2faff">
		<h2 class="center">Interests</h2> 
		<div class="row">
		    <div class="col-lg-12 text-center">
		        <hr class="class-1" />
		    </div>
		</div>


		<div class="row">
		    <div class="col-sm-6">
				<ul>
					<li>
						<strong>Drawing and Streaming:</strong> I draw in my free time, mostly anime-stlyed characters. I've been trying to get better for the future endevours in game dev. On occasion I will stream the process on twitch which is a streaming platform.
						<br>
						<br>
					</li>
					<li>
						<strong>Machine Learning and Artificial Intelligence: </strong> I've been an intrigued by the possibilities that AI and Machine learning can bring. Although I'm currently not researching or studying, I would love the opportunity to learn or work on a project. For one class, we used VEX robotics to create an autonomous cable linking robot which was really fun to create with my team.
						<br>
						<br>			  
					</li>
					<li>
						<Strong>Cooking and Baking: </Strong> Growing up my dad would make dinner every night for my family. As I got older, my dad would teach me recipes bit by bit. It was great bonding time and I found that cooking and baking were very relaxing. Every now and then I'll try making something new and post it on my instagram.
			  		</li>
				</ul>
			</div>
		    <div class="row">
		        <div class="col-sm-6">
				    <ul>
		  			     <li>
		        		    <Strong>Video Games: </Strong> I love to play games with my friends whenever we're all free. We used to play Smash Bros and MMORPGS More recently, I've been playing indie-typed games such as Enter the Gungeon, Lost Castle, and Death Road to Canada. 
		        		    <br>
		        		    <br>
		    		     </li>
		  			     <li>
		        		    <Strong>Game Development: </Strong> Following many Game Development channels on youtube and taking courses in high school, I have the urge to create a game. Currently, my friends and I are discussing ideas on what to make in our spare time. Since I've been enjoying the bullet hell and dungeon crawler games, I would love to create one to share my joy in playing them.
		        		    <br>
		        		    <br>
		    		     </li>
		  		   	     <li>
		        		    <Strong>Anime: </Strong> Anime was a form of down time and relaxation time for me growing up. As well as I have an addicitive personality so whenever an episode ended on a cliffhanger, I would want to continue watching. I think my years of watching anime drove me to try drawing in that style. It even got me looking at animation tutorials and appreciating animation as an art form.
		        		    <br>
		        		    <br>
		    		     </li>
		    		</ul>
			    </div>
			</div>
		</div>
	</div>
</section>



{% endblock %}